<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PAYU_BASE_URL" value="https://203.196.200.42:443/pggbm/fiservice?msg=" />
    <add key="MERCHANT" value="2nQKipZB1Ug=|9w7RwmQkwxA=" />
    <add key="MERCHANT_KEY" value="i6fYBiLKo" />
    <add key="CheckSum" value="mZjNS4OFQBcP2DmDbuFFDA==|j/xoeznqW2k=" />
    <add key="CheckSum_Key" value="vNOf5ZFUQ" />
    <!--<add key="PAYU_BASE_URL" value="https://203.196.200.42:443/pggbm/fiservice?msg="/>
    <add key="MERCHANT" value="2nQKipZB1Ug=|9w7RwmQkwxA="/>
    <add key="MERCHANT_KEY" value="i6fYBiLKo"/>
    <add key="CheckSum" value="mZjNS4OFQBcP2DmDbuFFDA==|j/xoeznqW2k="/>
    <add key="CheckSum_Key" value="vNOf5ZFUQ"/>  -->  
    <add key="WebAppUrl" value="http://localhost:57216/"/>
    <!--<add key="WebAppUrl" value="http://localhost:63415/" />-->
    <add key="EWebAppUrl" value="http://localhost:50863/" />
    <!--  <add key="SMTPHost" value="smtpout.secureserver.net"/>
    <add key="UserId" value="fateh.singh@amysoftech.in"/>
    <add key="MailPassword" value="fateh@123"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPEnableSsl" value="false"/>-->
    <!--Amazon SMTP-->
    <!--smtpClient.UseDefaultCredentials = false;-->
    <add key="Amazon_SMTPHost" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="Amazon_SMTPPort" value="587" />
    <add key="Amazon_SMTPEnableSsl" value="true" />
    <add key="Amazon_UserId" value="AKIA4SFSBAXININL4WXS" />
    <add key="Amazon_MailPassword" value="BL5hC6xs6p4eN0CLc9f4aT9zHQYLNj+R9q5FVAkql33K" />
    <add key="Amazon_FromMailId" value="admin@qchk.in" />
    <add key="DownloadFileName" value="Avasfin" />
    <!--<add key="DownloadFileName" value="StatusReport" />-->
    
    <add key="FilePath" value="http://192.168.1.161:1211" />
    <add key="PriorityESP" value="NSDL" />
    <!--<add key="ConsetURLNSDL" value="http://192.168.1.13:1111/"/>-->
    <!--commented 10 dec-->
    <add key="ConsetURLNSDL" value="http://localhost:57442/" />
    <add key="ConsetURL" value="http://localhost:50124/" />
    <add key="EMandateURL" value="http://localhost:53957/" />
    <add key="CDACAppUrl1" value="https://es-staging.cdac.in/esignlevelone/2.0/signdoc" />
    <add key="CDACAppUrl2" value="https://es-staging.cdac.in/esignleveltwo/2.0/signdoc" />
    <add key="APPId" value="100001" />
    <add key="ESignTime" value="" />
    <add key="authkey" value="231215A5DiQBGo5b8fe44a" />
    <!--<add key="authkey" value="230887AvLkyNCjhgXY5e70b5e8P1" />-->
    
    <add key="SenderId" value="QCHKEM" />
    <!--<add key="ScanAPIUrl" value="http://10.10.10.123:808/api/GetMandateStatus/ReadQrCode" />--> <!--Commented by Bibhu on 24Jan2020-->
    <add key="ScanAPIUrl" value="http://219.90.65.214:9897/QRREADER/QRCODE" /> <!--Added by Bibhu on 24Jan2020-->
    <add key="XMLName1" value="MMS" />
    <add key="XMLName2" value="CREATE" />
    <add key="XMLName3" value="KKBK" />
    <add key="XMLName4" value="KKBKH2HUSER1" />
    <add key="XMLName6" value="ESIGN12" />
    <add key="XMLName8" value="INP" />
    <add key="DefaultPswdEntity" value="123654" />
    <add key="DefaultPswdUser" value="456321" />
    <add key="PresentmentCount" value="15000" />
    <add key="LegacyCount" value="15000" />
    <add key="IsLocal" value="1" />
    <add key="Team" value="Quickcheck" />
    <add key="EBulkUploadMax_Count" value="500" />
    <add key="PBulkUploadMax_Count" value="500" />
    <!--<add key="Theme" value="QuickCheckTheme" />-->
    <add key="AccountValCountPerDay" value="1000" />
    <add key="AccountValDB_DashBoard" value="ZipValidAPI" />
    <add key="Theme" value="zipNachTheme"/>
    <add key="EmandateResUploadPath" value="E:\Projects\TempProjects\ZipNachFileGenerationWindowsApp\BackUp\EMandate"/>
    <add key="PhysicalUploadPath" value="E:\Projects\ZipNachFileGenerationWindowService\BackUp"/>   <!-- before in out path-->
    <add key="IsSmsApi" value="1"/>
    <add key="IsSmsApiurL" value="https://www.bulksmslive.info/api/sendhttp.php?authkey=6360AqugZyzTME5dcb8da2"/>
    <add key="IsSmsApisender" value="1"/>
    <add key="IsSmsApiroute" value="1"/>
    <add key="IsSmsApicountry" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
   <!-- <add name="FAMSEntities" connectionString="metadata=res://*/Entity.FAMS.csdl|res://*/Entity.FAMS.ssdl|res://*/Entity.FAMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.56;initial catalog=FAMS;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FAMSEntities" connectionString="metadata=res://*/Entity.FAMS.csdl|res://*/Entity.FAMS.ssdl|res://*/Entity.FAMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.40.86;initial catalog=FAMS;user id=ankush;password=@nkush@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>