.formlogin .fa-envelope-o {
    position: absolute;
    top: 1px;
    font-size: 34px !important;
    left: 16px;
    background: #fff;
    height: 34px;
    padding: 1px 6px 14px 5px;
    border-right: 1px solid blue;
    color: #0a2e40;
}

.form-group {
    margin-bottom: 0px !important;
}

.showrecords {
    padding: 0px;
}

.faiconsarch {
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
    color: #21343f;
}

.pdfexport {
    padding: 5px 0;
}

.round {
    border-radius: 10px;
    padding: 12px;
    font-size: 12px;
}

.pdfbtns {
    font-size: 16px;
    line-height: 20px;
    padding: 2px 7px 3px !important;
    color: #213642;
    border: 1px solid #bdc1c3;
}

.searchbox input:focus {
    outline-offset: 0px !important;
    outline: -webkit-focus-ring-color auto 0px !important;
}

.searchbox input::placeholder {
    color: #999
}

.searchDropdown {
    margin-top: 2px
}

    .searchDropdown .showLebel {
        text-align: right
    }

.btn-default:hover {
    background-color: #2e4b5b !important;
}


select {
    font-size: 12px;
}

.k-dropdown-wrap {
    height: 22px;
}

.k-state-default {
    height: 22px;
}

.k-widget {
    width: 100% !important;
}

.k-dropdown {
    width: 100% !important;
}

.k-header {
    width: 100% !important;
}

.formlogin .fa-key {
    position: absolute;
    top: 1px;
    font-size: 34px !important;
    left: 16px;
    background: #fff;
    height: 36px;
    padding: 1px 5px 2px 5px;
    border-right: 1px solid blue;
    color: #0a2e40;
}

.companytitle ul {
    position: absolute;
    top: 79px;
}

    .companytitle ul li {
        font-size: 16x;
    }



.formlogin {
    margin-top: 50px;
}

.userimage {
    position: relative;
    top: 22%;
    left: 31%;
    height: 136px;
    width: 205px; /* background-color: #fff;     border-radius: 77px;     overflow: hidden;*/
}

    .userimage img {
        width: 100%;
    }

.loginBox {
    box-shadow: 1px 2px 3px #c5c5c5;
    margin-top: 10%;
}

.loginBoxreset {
    margin-top: 10%;
}

.companyName {
    background-color: #fff;
    width: 100%;
    height: 400px;
    border: 1px solid #c5c5c5;
    box-shadow: 1px 2px 3px #c5c5c5;
    border-radius: 7px;
}

.companyLoginform {
    background-color: #0a2e40;
    width: 100%;
    height: 400px;
    border: 1px solid #c5c5c5;
    box-shadow: 1px 2px 3px #c5c5c5;
    border-radius: 7px;
}



.roundimg {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0%;
    border-radius: 50%;
}

#loginbtn {
    background-color: #0a2e40;
    border: none;
    color: #fff;
    padding: 6px 0px 6px 0px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.home {
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 8%;
    color: #fff;
    font-size: 20px;
    top: 4px;
}
.cardbody {
    /*border: 2px solid #c5c5c5;*/
    width: 100%;
    height: 585px;
    /*margin: 18px 0px 0px 1px;*/
    overflow: hidden;
    margin-top:8px;
    box-shadow: 0px 0px 3px 1px #c5c5c5;
}

.logonav {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c2c37, #395f71); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c2c37, #395f71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: #0a2e40;*/
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #60747d;
}

.headernav {
    /*background-color: #0a2e40;*/
    width: 100%;
    height: 35px;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidenav {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c2c37, #304f5f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c2c37, #304f5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: #0a2e40;*/
    width: 100%;
    height: 598px;
    border-right: 1px solid #fff;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px
}

.footerbar {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: #0a2e40;*/
    height: 22px;
    border-top: 1px solid #60747d;
}

    .footerbar p {
        text-align: center;
        font-size: 11px;
        color: #fff;
        /* position: absolute; */
        /* top: 9px; */
        /* right: 41%; */
      
    }

.sidenavlist > ul {
    display: block;
    list-style: none;
    padding: 0;
    margin-top: 4px;
}

    .sidenavlist > ul > li {
        display: block;
        width: 100%;
        padding: 2px;
        /* margin: 2px;*/
    }

        .sidenavlist > ul > li > a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            padding: 7px 5px 7px 10px;
            display: block;
        }
/*.sidenavlist > ul > li> :hover{
            background-color:#16222A;
        }*/

.Htmlpages {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenavlist > ul > li > ul.Htmlpages > li {
    display: block;
    width: 100%;
    padding: 8px;
    margin-left: 10px;
}

.sidenavlist > ul > li > ul {
    list-style: none
}

    .sidenavlist > ul > li > ul > li > a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        display: block;
        padding: 7px;
    }

.menudropdown .fa {
    color: #fff;
    padding-right: 7px;
}

#toolfinder {
    font-size: 20px;
    color: #fff;
}

.logonav .fa {
    color: #fff;
    font-size: 24px;
}

.navtoogleBar .fa {
    color: #fff;
    font-size: 26px;
    margin-top: 14px;
    cursor: pointer;
}

.loginavtar .fa-user-circle-o {
    color: #fff;
    position: absolute;
    top: 6px;
    right: 17px;
    font-size: 24px;
    cursor: pointer;
}

.loginavtar > ul {
    z-index: 9999;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #c5c5c5;
    position: absolute;
    top: 44px;
    right: 1px;
    width: 17%;
    background-color: Transparent;
}

    .loginavtar > ul > li {
        display: block;
        width: 100%;
        padding: 7px;
        background: #16222A; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-bottom: 1px solid #fff;
    }

        .loginavtar > ul > li > a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
        }

.loginavtar .fa-key {
    color: #fff;
    font-size: 19px;
    vertical-align: bottom;
}

.loginavtar .fa-sign-out {
    color: #fff;
    font-size: 19px;
    vertical-align: bottom;
}

.logonav img {
    overflow: hidden;
    width: 87%;
    padding-top: 12px;
    padding-left: 20px;
}

.tablehtml {
    border: 1px solid #c5c5c5;
    border-collapse: collapse;
    width: 100%;
}

    .tablehtml thead {
        background-color: #0a2e40;
        color: #fff;
    }

    .tablehtml th, .tablehtml td {
        text-align: left;
        padding: 2px; /* border-bottom: 1px solid #c5c5c5; */
        border: 1px solid #c5c5c5;
    }

    .tablehtml tr:nth-child(even) {
        background-color: #f2f2f2;
    }

.viewcodeeye {
    border: none;
    background: transparent;
    color: #da5c5c;
    font-weight: 500;
    margin-top: 8px;
}

    .viewcodeeye:focus {
        outline: none;
    }

.legal {
    font-size: 19px;
    color: #0a2e40;
    font-weight: bold;
    padding: 5px 3px 4px 10px;
    display: block;
}

label {
    font-size: 11px;
    font-weight: bold;
}

.cardinside {
    padding: 10px;
}

.codetext {
    background-color: #c5c5c5;
    border: 1px solid #0a2e4024;
    border-radius: 4px;
    padding: 7px;
    color: #0a2e40;
    font-size: 13px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 238px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #0a2e40; /* border: 2px solid #555555; */
    border-radius: 5px;
    border: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #0a2e40; /* border: 2px solid #555555; */
    border-radius: 5px;
    border: none;
}

strong {
    color: #c55858;
}

.textdefine p {
    margin-left: -13px;
    color: #000;
    font-size: 14px;
    font-family: cursive;
}

#selectbank .modal-header {
    background-color: #fff;
    color: #fff;
    border: 1px solid #fff;
    height: 41px;
}

    #selectbank .modal-header .close {
        font-size: 22px !important;
        color: #fff !important;
        opacity: 1 !important;
        background-color: #0a2e40 !important;
        height: 31px;
        padding: 3px 9px 3px 9px !important;
        position: absolute !important;
        right: 9px !important;
        top: 8px !important;
        border-radius: 50%;
        padding-top: 0px !important;
        padding-left: 6px !important;
        padding-bottom: 5px !important;
        width: 26px;
        height: 26px;
        box-shadow: 1px 0px 0px 1px #a3b2b9;
    }

.modal-dialog {
    max-width: 390px;
    margin: 8.75rem auto;
}

input[type="checkbox"] {
    vertical-align: middle;
}

#logoupload {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 3px;
    right: 54%;
    width: 8%;
    cursor: pointer;
}


#supportingdocumentupload {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 3px;
    right: 53%;
    width: 32%;
    cursor: pointer;
}

.modal-header {
    background: #16222A; /* fallback for old browsers */
    background: linear-gradient(to right, #223c4a, #2b4857); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #223c4a, #2b4857); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 1px solid #fff;
    height: 41px;
}


    .modal-header .close {
        color: #051720 !important;
        background-color: #fff !important;
        font-size: 22px !important;
        opacity: 1 !important;
        height: 31px;
        padding: 2px 9px 3px 9px !important;
        position: absolute !important;
        right: 9px !important;
        top: 8px !important;
        border-radius: 50%;
        padding-top: 0px !important;
        padding-left: 6px !important;
        width: 26px;
        height: 26px;
        box-shadow: 1px 0px 0px 1px #a3b2b9;
    }




.modal-body {
}

.modal-footer {
    background-color: #051720;
    width: 100%;
    height: 41px;
    border: 1px solid #fff;
}

    .modal-footer .btn-default {
        border: none;
        background: transparent;
        color: #fff;
    }

.modal-title {
    margin-top: -9px;
    font-size: 15px;
}

.close:focus {
    outline: none;
}

.tabs > ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}

    .tabs > ul > li {
        display: inline-block;
        background-color: #0a2e40;
        width: 33%;
        border-collapse: collapse;
        border: 1px solid #c5c5c5;
        position: relative;
    }

        .tabs > ul > li > a {
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 10px 46px 11px 11px;
        }

.tabinside {
    border: 1px solid #c5c5c5;
}

    .tabinside p {
        padding: 2px 10px 2px 10px;
        overflow: hidden;
    }

.tabrighticon {
    position: absolute;
    right: 3%;
    top: 26%;
}

input[type=text], input[type="password"] {
    height: 22px;
    border: none;
    background: transparent;
    border: 1px solid #77848a;
}

.dropdown {
    height: 22px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9ea5a9;
    width: 100%;
    border-radius: 0px;
    padding-left: 5px;
    /*height: 22px;
    background: transparent;
    border: 1px solid #9ea5a9;
    width: 100%;
    border-radius: 3px;
    padding-left: 5px;*/
}


input[type=date] {
    border: none;
    background: transparent;
    border: 1px solid #77848a;
    padding: 2px;
    height: 24px
}


::placeholder {
    color: #000;
    font-size: 10px;
    padding-left: 0px;
}

input[type="text"], input[type="password"], input[type="date"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #9ea5a9;
    padding-left: 3px;
    font-size: 11px;
    border-radius: 0px;
    /*background: transparent;
    border: 1px solid #9ea5a9;
    padding-left: 3px;
    font-size: 11px;
    border-radius: 3px;*/
}

.k-dropdown-wrap {
    width: 100% !important;
    padding: 0px;
    padding-bottom: 9px;
    border: none;
    background: #fff !important;
}

.k-state-default {
    width: 100% !important;
    padding: 0px !important;
    padding-bottom: 9px !important;
    border: none !important;
    background: #fff !important;
}

.kendobox {
    border-bottom: 1px solid #77848a !important;
}

input:focus {
    outline: none;
}

.searchbox input[type="text"] {
    border: 1px solid #77848a;
    border-radius: 10px;
}

.kendobox {
    border: none;
    border-bottom: 1px solid #000;
}


.codebox {
    border: 1px solid #77848a;
    padding: 0;
    height: 27px;
}

.code {
    display: inline-block;
    width: 8.5%;
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 3px !important;
    line-height: 23px;
    padding: 0px !important;
    border-right: 1px solid #77848a;
}

span.code:last-child {
    border-right: 0px;
}

.formclientmaster {
    background-color: #e8e8e8;
    border-radius: 9px;
}

.legalhead {
    /*background: #0a2e40;*/
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    width: 100%;
    display: block;
    padding: 3px 3px 4px 5px;
}

.bussinesscontent {
    padding: 11px 0px 11px 0px;
}

.utilitybox {
    border: 1px solid #77848a;
    padding: 0;
    height: 27px;
}

.utiltycode {
    display: inline-block;
    width: 5%;
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 3px !important;
    line-height: 23px;
    padding: 0px !important;
    border-right: 1px solid #77848a;
}

span.utiltycode:last-child {
    border-right: 0px;
}

.utilitycheck {
    border: 1px solid #77848a;
    padding: 0;
    height: 37px;
}

.utiltycheckbox {
    display: inline-block;
    width: 16%;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    border-right: 1px solid #77848a;
    padding: 6px 3px 0px 6px;
}

span.utiltycheckbox:last-child {
    border-right: 0px;
}

.btncon .btnconinsideBtn {
    background-color: #0a2e40;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px !important;
}

.btnconinsideBtn {
    background-color: #0a2e40;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px !important;
}

.bankmasterTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

    .bankmasterTable td {
        /*border-left: 1px solid #ddd;*/
        padding: 3px;
        font-size: 11px;
        padding-left: 11px;
    }

    .bankmasterTable th {
        padding: 3px;
        font-size: 11px;
        padding-left: 11px;
    }

    /*.bankmasterTable tr:nth-child(even) {
        background-color: #dae2e6;
    }*/

    .bankmasterTable tr:hover {
        background-color: #b2bec3;
    }

    .bankmasterTable th {
        text-align: left;
        background-color: #0a2e40;
        color: white;
    }

input[type="file"] {
    font-size: 12px;
}

.keytermscondition {
    font-size: 11px;
}

.dateselection {
    border: 1px solid #77848a;
    padding: 0;
    height: 87px;
}

#annexuretable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #annexuretable td, #annexuretable th {
        border: 1px solid #ddd;
        padding: 3px;
        font-size: 11px;
    }

    #annexuretable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #annexuretable tr:hover {
        background-color: #ddd;
    }

    #annexuretable th {
        text-align: left;
        background-color: #0a2e40;
        color: white;
    }


#commercialTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #commercialTable td, #commercialTable th {
        border: 1px solid #ddd;
        padding: 3px;
        font-size: 11px;
    }

    #commercialTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

#commercialTabletr:hover {
    background-color: #ddd;
}

#commercialTable th {
    text-align: left;
    background-color: #0a2e40;
    color: white;
}

#customersignature {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customersignature td {
        border: 1px solid #ddd;
        padding: 3px;
        font-size: 11px;
    }

    #customersignature tr:nth-child(even) {
        background-color: #f2f2f2;
    }


#verifiedBanktable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #verifiedBanktable td {
        border: 1px solid #ddd;
        padding: 3px;
        font-size: 11px;
    }

    #verifiedBanktable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

.btnpannel {
    float: right;
    position: absolute;
    top: 11px;
    right: 30px;
}

.filter select {
    border: none;
    border: 1px solid #77848a;
    font-size: 11px;
    width: 20%;
}

.filter {
    float: left;
}

.closexbtn {
    float: right !important;
    background-color: #051720 !important;
    color: #fff !important;
    padding: 1px 5px 3px 8px !important;
    font-size: 13px !important;
}

.modal-body label {
    padding-left: 0 !important;
    font-size: 11px;
}

.formclientmaster input {
    height: 22px;
    font-size: 11px;
    padding-left: 5px;
}

.formclientmaster textarea {
    height: 40px;
    font-size: 11px;
    padding-left: 5px;
}

.imagesucess {
    width: 100%;
    text-align: center;
}

.savetextsuccessfully {
    text-align: center;
    margin: 5px 0px 20px 0;
}

.modal-body span {
    font-size: 14px;
    font-weight: bold;
}

.successpopheader {
    background-color: #051720;
    color: #fff;
    border: 1px solid #fff;
    height: 100%;
}

.imagesucess img {
    width: 14%;
}

.btn-default {
    background-color: #26414f !important;
    color: #fff !important;
    padding: 1px 8px 3px 8px !important;
    font-size: 12px !important;
}

.btn-center {
    display: block;
    margin: 2% auto 0;
}

.formclientmaster {
    border-radius: 0;
}

.accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}

    .accordion-container > h2 {
        text-align: center;
        color: #fff;
        padding-bottom: 5px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

.set {
    position: relative;
    width: 100%;
    height: auto;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    .set > a {
        display: block;
        padding: 6px 15px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        font-size: 11px;
    }

        .set > a i {
            float: right;
            margin-top: 2px;
        }

        .set > a.active {
            background-color: #0a2e40;
            color: #fff;
        }

.formclientmaster .content {
    background-color: #fbfbfb;
    border: 1px solid #d1d7da;
    display: none;
}

.navtoogleBar .bar1, .bar2, .bar3 {
    width: 29px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 9999;
    display: block;
}

.navtoogleBar {
    position: relative;
    top: 11px;
    display: block;
    width: 3%;
    cursor: pointer;
    left: -10px !important;
}

.rightnav {
    margin: 6px 6px !important;
    transition: 0.4s;
    z-index: 9999;
    display: block;
}

    .rightnav .fa {
        color: #fff;
        font-size: 48px;
        margin-top: -13px;
        cursor: pointer;
    }

.activesubmenu {
    /*background-color: #676262;*/
    background-color: #16222A;
    border-left: 2px solid #fff;
    color: #3c5663;
    /*margin-left: 10px;*/
}

.validate {
    border: 1px solid #d20d0d;
    box-shadow: 1px 2px 3px #ce1616;
}
/*------------------media quary---------------------------*/


@media screen and (min-width: 770px) and (max-width: 992px) {
    .bodypartnav, .headernav {
        max-width: 83.3% !important
    }

    .changePannel {
        width: 22% !important;
    }
}


@media only screen and (max-width: 768px) {
    .changePannel {
        width: 22% !important;
    }

    .utilitybox input[type=text] {
        border: 0px;
        background: transparent;
        border-right: 1px solid #77848a;
        display: inline-block;
        height: 25px !important;
        padding: 0px !important;
        width: 4.6% !important;
    }

    .sidenav, .logonav {
        display: none;
    }

    .bars {
        display: none !important;
    }

    .footerbar p {
        text-align: center !important;
        font-size: 12px !important;
        color: #fff !important;
        position: absolute !important;
        top: 9px !important;
        right: 36% !important;
    }

    .rightnav {
        display: none !important;
    }

    .btnpannel {
        float: right !important;
        position: relative !important;
        top: 5px !important;
        right: 18px !important;
        padding-left: 18px;
    }

    .bankingname {
        position: absolute;
        top: 20px;
        right: 56%;
    }

    .bank-nameInfo {
        font-size: 10px !important;
        color: #fff !important;
        font-weight: bold !important;
    }

    .barbtn {
        display: block !important;
        width: 30px;
    }

    .barline {
        width: 29px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        z-index: 9999;
        display: block;
    }

    .sidenav {
        max-width: 36% !important;
        flex: 36%;
        position: absolute !important;
        z-index: 999;
    }

    .lblformall {
        padding-left: 7px !important;
    }

    .lblall {
        padding-left: 1px !important;
    }

    /*.bodypartnav{width: 70%;}
.sidenav{ 
    width: 30%;
    margin-top: 1px;}*/



}

@media screen and (max-width: 425px) {
    .changePannel {
        width: 47% !important;
    }

    .codebox input[type=text] {
        border: 0px;
        background: transparent;
        border-right: 1px solid #77848a;
        display: inline-block;
        height: 25px !important;
        padding: 0px !important;
        width: 7.31% !important;
    }

    .utilitybox input[type=text] {
        border: 0px;
        background: transparent;
        border-right: 1px solid #77848a;
        display: inline-block;
        height: 25px !important;
        padding: 0px !important;
        width: 3.7% !important;
    }

    .dateselection {
        border: 1px solid #77848a;
        padding: 0;
        height: auto;
    }

    .PayModeGroup {
        display: flex !important;
    }
}



.bankmasterTable tbody {
    overflow: auto;
    overflow-x: hidden;
    display: block;
    max-height: 31vh;
    width: 100%;
}

    .bankmasterTable tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


.bankmasterTable thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}


.ui-datepicker-title {
    background-color: #335566;
    color: #fff;
}

.ui-state-default {
    text-align: center !important
}

.ui-datepicker-header {
    background-color: #335566;
    color: #fff;
}

.ui-widget-header {
    background-color: #335566;
    color: #fff;
}

.ui-helper-clearfix {
    background-color: #335566;
    color: #fff;
}

.ui-corner-all {
    background-color: #335566;
    color: #fff;
}

.ui-state-hover {
    background-color: #77848a !important;
}

.ui-datepicker-calendar {
    background-color: #ced4d8;
    color: #356;
}

    .ui-datepicker-calendar thead tr {
        border: 1px solid #fff;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #335566;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border: none;
}

.fa-trash-o {
    color: #c33131;
    font-size: 16px !important;
}

.detailBox {
    background: #f5f7f7;
    padding: 10px 15px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 5px;
}

.tableScroll {
    overflow-x: scroll
}

#createPMSProvider .modal-dialog, #createCustomers .modal-dialog {
    max-width: 80%;
    margin-top: 3rem;
}

#custodianDetail .modal-dialog, #tbstructureDetailPopup .modal-dialog, #securitiesDetailPopup .modal-dialog, #pmsCustomerDetail .modal-dialog, #pmsEmployeesDetail .modal-dialog {
    max-width: 70%;
}

#customerDetail .modal-dialog {
    max-width: 60%;
}

.detailsBox h6 {
    padding: 12px !important
}

.sidenavlist {
    max-height: 568px;
    overflow: auto;
}

button i {
    padding-right: 3px;
}

.panel-default > .panel-heading {
    color: #2e2e2e !important;
    background: rgb(218, 219, 220) !important;
    border-color: #ddd;
    position: relative;
}

.panel-title {
    margin-top: 0;
    font-size: 14px !important;
}

    .panel-title > a {
        display: block !important;
        padding: 6px 15px 10px !important;
        font-size: 12px;
        color: #2e2e2e !important;
        font-weight: bold;
    }

.panel-group {
    padding: 10px 15px;
}

.filterBox {
    position: absolute;
    right: 5px;
    top: 4px;
}

    .filterBox label {
        margin: 0 !important;
        font-size: 11px;
    }

.filterDropdown {
    border: 1px solid #cacbcc;
    padding: 1px 5px 1px 0px !important;
    height: 20px !important;
    width: 115px;
    background: #f3f5f5;
    font-size: 11px;
}

.ui-datepicker th {
    padding: .4em .3em !important;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: .1em !important;
}

tfoot {
    display: block
}

    tfoot tr {
        border-top: 1px solid #b2b9bd;
    }
    tfoot tr td {
    font-size:13px; font-weight:bolder}
.price {
    text-align: right !important;
    padding-right: 10px !important
}